body {
    background-color: #eee;
    text-align: center;
}

button {
    background-color: rgba(0,0,0,0);
    outline: none;

    background-color: rgb(60,60,60);
}

form {
    background-color: #fff;
    padding: 20px;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

form p {
    margin-bottom: 5px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;

        margin-left: auto;
        margin-right: auto;
    }


@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}