*{
    margin:0;
    padding: 0;

}
h1{
    color: white;
    font-size:30px;
    text-align: center;
    padding: 10px;
    background-color: rgb(41, 38, 38);
    border: 2px solid rgb(41, 38, 38);
}
nav{
    color: white;
    font-size:30px;
    text-align: center;
    padding:20px;
    background-color: rgb(87, 95, 93);
    border-bottom: 4px solid white;
    border-top:4px solid  white;
    
}
section{
    
    background-color: #0000002e;
    color: white;
    overflow: hidden;
    padding: 10px;
}
.slideshow{
    color:white;
    margin: 1px 1px;
    background-color: gray;
    padding: 50px;

}
h2{
    text-align: center;
}
.grid{
    margin: 25px 10px;
}
.column{
    width: 32.4%;
    height: 250px;
    background-color: white;
    display: inline-block;
    padding-left: 9px;
}

footer{
    color:white;
    text-align: center;
    padding: 15px;
    background-color: black;
    border-bottom:4px solid white;
    border-top:4px solid white;
    font-size:30px;
}
