.layout1{
    border: 8px solid blue;
    width:15%;
    height:35%;
    background-color: rgb(104, 219, 228);
    margin-left: 20%;
}
.layout2{
    border: 8px solid blue;
    width:15%;
    height:35%;
    background-color: rgb(104, 219, 228);
    margin-left: 20%;
}
