.main{
    position: relative;
    border: 6px solid rgb(116, 111, 111);
    width: 50%;
    height: 90%;
    margin-left: 10%;
}
.box1{
    border: 2px solid rgb(116, 111, 111); 
    width: 25%;
    height: 25%;
    background-color: rgb(226, 112, 19);
    opacity: 5;
}
.box2{
    position:absolute ;
    right: 0%;
    top: 0%;
    border: 2px solid rgb(116, 111, 111); ;
    width: 25%;
    height: 25%;
    background-color: rgb(224, 12, 243);
}
.box3{
    position:absolute ;
    left: 0%;
    bottom: 0%;
    border: 2px solid rgb(116, 111, 111); ;
    width: 25%;
    height: 25%; 
    background-color: rgb(8, 8, 199);
}
.box4{
    position:absolute ;
    right: 0%;
    bottom: 0%;
    border: 2px solid rgb(116, 111, 111); ;
    width: 25%;
    height: 25%;
    background-color: rgb(23, 172, 231); 
}
.box5{
    position:absolute ;
    right: 40%;
    top: 35%;
    border: 2px solid rgb(116, 111, 111); ;
    width: 25%;
    height: 25%;
    background-color: rgb(69, 197, 69);
}