
.main .child1{
    display: inline-block;
    background-color:pink;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
    height: 80%;
    width: 5%;
}
.main .child2{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child3{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child4{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child5{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child6{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child7{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child8{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child9{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}.main .child10{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}
.main .child11{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right:2px solid skyblue;
}
.main .child12{
    display: inline-block;
    background-color:pink;
    height: 80%;
    width: 5%;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
}