*{
    margin: 0;
    padding: 0;
}
.box1{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
}
.box{
    padding: 48px 0px 49px 0px;
}
.para{
    margin-left: 10px;
}
.main{
    width: 85%;
    margin-left: 38px;
    border:none;
}
.img2{
    border: 1px solid black;
    padding: 10px;
}
.main h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 38px;
line-height: 45px;
}
.section{
    background-color: rgb(197, 197, 197);
}
.img3{
    margin: 101px 10px 130px 10px;
}