*{    
    margin:0;
    padding: 0;
}
.banner{
    background-color: rgb(128 128 128 / 56%);
    padding-bottom: 23px;
}
ul{
    display: inline-block;
    padding: 4px 18px 24px 514px;
}
h1{
    font-size: 30px;
    display: inline-block;
    padding: 6px 175px;
}
li{
    display: inline-block;
    padding: 0px 6px 8px 9px;
}
.banner-sub1{
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}
.intro{
    font-size: 38px;
}
p{
    padding: 0px 178px;
}
.banner-sub2{
    display: inline-block;
    width: 33%;
    text-align: center;
    border: 2px solid grey;
    background-color: grey;
    padding: 56px;
}
.main{
    width: 83%;
    margin: 0 auto;
    padding: 31px 145px 0px 143px;
}
.sub{
    display: inline-block;
    border: 2px solid rgb(128 128 128 / 56%);
    background-color: rgb(128 128 128 / 56%);
    padding: 11% 12%;
    margin-left: 39px;
}
.sub1{
    display: inline-block;
    border: 2px solid rgb(128 128 128 / 56%);
    background-color: rgb(128 128 128 / 56%);
    padding: 11% 11%;
    margin-left: 29.6px;
    margin-top: 43px;
}
.sub2{
    border: 2px solid rgb(128 128 128 / 56%);
    background-color: rgb(128 128 128 / 56%);
    padding: 33px 13px;
    width: 92.9%;
    margin: 36px 40px;
}
footer{
    background-color: rgb(128 128 128 / 56%);
    margin: 0 auto;
}
.ul1{
    padding-left: 160px;
}
.foot{
    display: inline-block;
    padding: 18px 0px 0px 660px;
}