*{
    margin: 0;
    padding: 0;
}
@media(min-width:1200px){
    /*header section starts here*/
    .fudo-logo{
        width: 15%;
    }
    .fudo-li{
        margin: 30px 0px 20px 65px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #333333;

    }
    .fudo-li:last-child{
        margin-left: 200px;
        background-color: #EB5757;
        padding: 15px 47px 1px 34px;
        border-radius: 30px;
    }
    .fudo-li p{
        color:  #F2F2F2;
    }
       
    /*header section ends here*/
    /*baner section starts here*/
    .baner1{
        display: inline-block;
        width: 49%;
    }
    .baner1 p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 90px;
        color: #333333;
    }
    .food{
        color: red;
    }
    .baner1 button{
        margin-top: 115px;
        padding: 15px;
        border: none;
        background-color: red;
        border-radius: 25px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }
    .baner2{
        display: inline-block;
        width: 50%;
        vertical-align: text-bottom;
    }
    .baner2 img{
        width: 100%;
    }
     /*baner section starts here*/
     /*section starts here*/
    .head1 p:first-child{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.16em;
        color: #EB5757;
    }
    .head1 p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 60px;
        color: #333333;
    }
    .head1{
        margin: 100px 0px;
    }
    
    .section-1 h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 70px;
        color: #000000;
    }
    .section-1 p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #333333;
    }
     /*section ends here*/

    .pizza{
        justify-content: center;
    }
    .pizza2 img{
        margin-top: 100px;
        margin-left: 60px;
    }
    /*footer section starts here*/
    .foot1 p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #333333;
        width: 58%;
    }
    .foot1{
        margin: 60px 0px 0px 0px;
    }
    .foot1 img{
        margin-bottom: 32px;
    }
    .foot-img{
        margin-right: 40px;
    }
    .foot2{
        margin-top: 60px;
    }
    .foot2 h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 15px;

    }
    .foot2 li{
        list-style: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #333333;
        margin-bottom: 10px;
    }
    .foot3 h4{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #000000
    }
    .foot3{
        margin-top:60px ;
    }
    .foot3 p{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #333333;
    }
    .foot3 button{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        padding: 10px;
        border: 1px solid #BDBDBD;
    }
    .foot-end{
        margin: 0 auto;
    }
    .foot-end1 p{
        padding: 10px;
        border: 1px solid #BDBDBD;
        border-radius: 50px;
    }
    /*footer section ends here*/

}